/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--page-gradient);
  background-size: cover;
}

.header {
  width: var(--project-width);
  height: 327px;
  margin-block-start: 100px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #000;
  margin-block-end: clamp(6.25rem, -0.188vw + 6.294rem, 6.125rem);
}

.header__container {
  width: var(--project-width);
}

.header__title {
  font-size: 49px;
  font-family: var(--accent-font);
  font-weight: var(--font-weight-text);
  margin-block-start: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  margin-block-end: clamp(1.25rem, 0vw + 1.25rem, 1.25rem);
  margin-inline: clamp(1rem, 10.047vw - 1.355rem, 7.688rem);
}

.header__paragraph {
  font-size: 14px;
  font-family: var(--accent-font);
  margin-inline: clamp(5.188rem, 8.92vw + 3.097rem, 11.125rem);
  width: clamp(13.125rem, 12.676vw + 10.154rem, 21.563rem);
  text-transform: uppercase;
}

.cards{

}

.card__list {
  list-style-type: none;
}

.card__list-item {
  background-color: #fff;
  width: var(--project-width);
  border: 2px solid #000;
}

.card__title-container {
  border: 2px solid #000;
}

.card__title {
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
  padding-block: 5px;
  padding-inline: 10px;
}

.container__image {
  background-image: url(../images/image1.png);
  background-size: cover;
  height: 371px;
  width: 100%;
  border: 2px solid #000;
}

.text__container {
  border: 2px solid #000;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

.paragraph__container {
  line-height: 21px;
  grid-column: 2;
  padding-block: 25px;
}

.text__section {
  font-size: 18px;
  padding-block-end: 25px;
}

.bottom__text {
  font-size: 18px;
}

.button__container {
  grid-column: 2;
  justify-self: flex-end;
}

.button__text {
  border: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  padding-block: 13px;
  padding-inline: 37px;
}

.heart {
  grid-column: 2;
  justify-self: center;
  margin-block-end: 10px;
}